body {
	background-color: lightblue;
	text-align: left;
	color: white;
}

div#list {
	height: 1000px;
	width: 300px;
	margin: 70px auto;
}

.item {
	padding-left: 15px;
}

h2 {
	padding-left: 15px;
	display: block;
	width: 100%;
	background-color: blue;
	height: 35px;
	margin: 0;
}

form > input{
	width: 100%;
	border: none;
	height: 35px;
}